<div class="container">
  <h1>Hero Form</h1>
  <form>
    <div class="form-group">
      <label for="login" >Login</label>
      <input type="text" class="form-control" name="login-field" id="login" [(ngModel)]="user.login" required>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="text" class="form-control" name="password-field" id="password" [(ngModel)]="user.password" required>
    </div>

    <button type="submit" class="btn btn-success" (click)="handleSubmit()">Submit</button>

  </form>
</div>
