
<h1>Main</h1>
<button routerLink="/item-list">Item List</button>
<button routerLink="/checkbox-items">Checkbox Items</button>
<button routerLink="/login">Login</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>
